:root {
  --amplify-primary-color: #e25452;
  --amplify-primary-tint: #e25452;
  --amplify-primary-shade: #e25452;
}

.navbar {
  &.bg-light {
    background-color: #fff !important;
  }
  &-nav {
    align-items: center;
    .nav-item:not(:last-of-type) {
      margin: {
        right: 40px;
      }
    }
  }
  border-bottom: {
    style: solid;
    color: #e0e0e0;
    width: 1px;
  }
  .container {
    margin: {
      top: 0;
      bottom: 0;
    }
  }

  .btn-login {
    padding: 2px 56px;
  }
  .userIcon {
    height: 35px;
    width: auto;
  }
  .loggedUser {
    .btn {
      background-color: transparent;
      border: 0;
      outline: transparent;
      &:focus,
      &:active,
      &.active,
      &:hover {
        background-color: transparent !important;
        border: 0 !important;
        outline: transparent !important;
        box-shadow: none;
      }
    }
  }
  .dropdown-item {
    text-align: center !important;
  }
}
