:root {
  --amplify-primary-color: #e25452;
  --amplify-primary-tint: #e25452;
  --amplify-primary-shade: #e25452;
}

.loginForm {
  min-height: 80vh;
  align-items: center;
  justify-content: center;
  display: flex;
  button.anchor {
    background-color: transparent !important;
  }
}
